<ion-content>
  <ion-list *ngFor="let item of emergencies | async">
    <ion-card button (click)="presentActionSheet(item)">
      <ion-card-header>
        <ion-card-subtitle>Emitted in {{item.payload.doc.data().dateEmergency.toMillis() | date:'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
        <ion-note color="danger" *ngIf="!item.affected">Not affected</ion-note>
        <ion-note color="success" *ngIf="item.affected">Affected</ion-note>
        <ion-card-title>Adresse: {{item.payload.doc.data().lng+' '+item.payload.doc.data().lat}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.payload.doc.data().description}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>