<ion-content>
  <ion-button color="primary" expand="block" fill="outline" [disabled]="photoService.photos.length===0">
    <ion-icon color="danger" slot="end" md="alert-circle" ios="alert-circle-outline"></ion-icon>
     Send this emergency
  </ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="pointer hover"
        *ngFor="let photo of photoService.photos; index as position">
          <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
          (click)="showActionSheet(photo, position)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button color="danger" (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>