<ion-header translucent>
  <ion-toolbar>
    <ion-title>Details image</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-img [src]="photo.base64 ? photo.base64 : photo.webviewPath"></ion-img>
  <!-- <div class="flex">
    <ion-button fill="clear">
      <ion-icon md="ellipsis-vertical" ios="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </div>
  <div [ngClass]="{'position-img': mobile}">
    <ion-img [src]="photo.base64 ? photo.base64 : photo.webviewPath"></ion-img>
  </div> -->
</ion-content>