<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-icon color="tertiary" (click)="presentPopoverNotifications($event)" class="icon" slot="end" md="notifications" ios="notifications-outline"></ion-icon>
    <ion-icon color="tertiary" (click)="presentPopoverAccount($event)" class="icon" slot="end" md="person-circle" ios="person-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


