<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Reset your password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
        <div class="main">
          <form [formGroup]="forgotForm" (ngSubmit)="submit()">
            <div>
              <ion-item>
                <ion-icon color="secondary" name="mail" slot="start"></ion-icon>
                <ion-label position="floating">Email</ion-label>
                <ion-input clearInput="true" formControlName="email" inputmode="email"></ion-input>
              </ion-item>
              <mat-error *ngIf="f.email.errors && (f.email.dirty || f.email.touched || submitted)">
                <div *ngIf="f.email.errors.required">You must enter a value</div>
                <div *ngIf="f.email.errors.email">Not a valid email</div>
              </mat-error>
              <div class="return">
                <ion-button [routerLink]="['/home']"  slots="end" routerDirection="back"
                 fill="clear" size="small">Sign in
                </ion-button>
              </div>
              <ion-button type="submit" routerDirection="root" fill="outline" expand="block">
                <ion-icon name="send" slot="start"></ion-icon> 
                Send request
              </ion-button>
            </div>
          </form>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
