<ion-content>
  <app-ask *ngIf="ask"></app-ask>
  <app-my-requests *ngIf="requests"></app-my-requests>
  <!-- <app-map *ngIf="map"></app-map> -->
  <ion-footer translucent>
    <ion-segment color="success" value="ask" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="ask" layout="icon-bottom">
        <ion-icon md="call" ios="call-outline"></ion-icon>
        <ion-label>Ask</ion-label>
      </ion-segment-button>
      <ion-segment-button value="requests" layout="icon-bottom">
        <ion-icon md="list-circle" ios="list-circle-outline"></ion-icon>
        <ion-label>My requests</ion-label>
      </ion-segment-button>
      <ion-segment-button value="map" layout="icon-bottom">
        <ion-icon md="location" ios="location-outline"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-footer>
</ion-content>